.main {
    padding: 20px;
}

nav {
    background-color: #121212;
    padding: 1em;
    text-align: left;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 1em;
    padding: .25em 1em;
    text-transform: uppercase;
}

nav a {
    color: #ccc;
    text-decoration: none;
}

nav a.active {
    color: #1DB854;
}

nav a:hover {
    color: #1DB854;
    text-decoration: none;
}
